{{define "jobs/list"}}
  {{template "header" $}}

  <h1>Jobs</h1>

  <a href="/jobs/new">Create new job</a>

  <ul>
    {{range $job := .jobs}}
      <li><a href="/jobs/{{$job.ID}}/">{{$job.Name}}</a></li>
    {{end}}
  </ul>

  {{template "footer" $}}
{{end}}
